body {
    margin: 0px;
    padding: 0px;
    color: #292f36;
    font-family: helvetica;
    line-height: 1.6;
}


/***************************************/


/*header*/

header {
    height: 150px;
    z-index: 10;
    position: relative;
}

.header-banner {
    background-color: rgb(134, 215, 3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
}

header h1 {
    background-color: none;
    color: #fff;
    padding: 0 1rem;
    position: absolute;
    top: -1.1rem;
    left: 35%;
    font-size: 50px;
    border-bottom: 1.5px solid;
    border-top: 1.5px solid;
}

header h2 {
    background-color: none;
    color: #fff;
    padding: 0 9 rem;
    position: absolute;
    top: 5.25rem;
    left: 45%;
    font-size: 20;
}

header img {
    width: 150px;
    height: auto;
}


/***************************************/


/***************************************/


/*Sticky-Navbar*/

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 10%;
    background: #292f36;
    z-index: 10;
}

.sticky a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}

.sticky a:hover {
    background: rgb(240, 164, 154);
    color: black;
}

.sticky a.active {
    background: rgb(240, 164, 154);
    color: white;
    font-size: 1.6em;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
}

.sticky .color {
    color: rgb(240, 164, 154);
}

.sticky .search input[type=text] {
    width: 150px;
    border: 2px solid rgb(240, 164, 154);
    border-radius: 0.5em;
    font-size: 17px;
    background-color: white;
    padding: 2px 2px 2px 2px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: right;
    margin-right: 50px;
    margin-top: 12px;
    color: #9DBFAF;
}

.sticky .search input[type=text]:focus {
    width: 300px;
}


/***************************************/


/***************************************/


/* Breadcrumb */

ul.breadcrumb {
    list-style: none;
    background-color: none;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-left: 2%;
}


/* Display list items side by side */

ul.breadcrumb li {
    display: inline;
    font-size: 100%;
}


/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}


/* Add a color to all links inside the list */

ul.breadcrumb li a {
    color: #292f36;
    text-decoration: none;
}


/* Add a color on mouse-over */

ul.breadcrumb li a:hover {
    color: #292f36;
    text-decoration: underline;
}


/***************************************/

.row:after {
    content: "";
    display: table;
    clear: both;
}

.side {
    width: 21%;
    float: left;
    background-color: #f1f1f1;
    padding-left: 2%;
    padding-right: 2%;
}

.card {
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 20px;
}

.row .side img {
    width: 50px;
    height: auto;
}

.main {
    float: right;
    width: 71%;
    background-color: gray;
    padding-right: 2%;
    padding-left: 2%;
}

.block {
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 20px;
}


/***************************************/


/***************************************/


/*footer*/

.footer {
    height: 100px;
    position: relative;
    background-color: rgb(134, 215, 3);
    width: 100%;
}

.footer img {
    width: 100px;
    height: auto;
    position: absolute;
    padding-left: 45%;
}


/***************************************/