.head{
    font-family: "Arial Narrow";
    font-size: large;
    list-style-type: none;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.title{
    font-family: "Arial Black";
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.body{
    font-family: "Arial Narrow";
    font-size: small;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    position: fixed;
    height: 100%;
    width: 80%;
    padding: 0;
    background-color: #c2c2c2;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}