.entryform {
    background: #f1f1f1;
    width: 100%;
    margin-top: 120px;
    width: 60%;
    margin-left: 20%;
    border-radius: 20px;
}

.formitems {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#group-1 {
    margin-top: 30px;
}

#group-2 {
    margin-top: 30px;
}

.distant {
    margin-top: 8%;
}

#submitbutton {
    background: rgb(126, 19, 226);
}