body {
    background: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

#navigation {
    height: 80px;
}

.filters {
    margin-top: 20%;
}

.logo {
    float: left;
    margin-left: 7%;
}

.logo h2 a {
    font-family: 'Dancing Script', cursive;
    font-size: 44px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.logo h2 a:hover {
    color: rgb(126, 19, 226)
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
}

nav n {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: Uppercase;
    font-size: 15px;
}

nav c {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: Uppercase;
    font-size: 15px;
    float: right;
}

nav c::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #ED6B86;
    position: absolute;
    top: 0
}

nav n::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in 100ms
}

nav n:hover::before {
    width: 100%;
}

.menu {
    z-index: 0;
    font-weight: bold;
    font-size: 0.8em;
    width: 25%;
    background: #f1f1f1;
    position: fixed;
    text-align: center;
    font-size: 12px;
    height: 100%;
    margin-top: 80px;
    left: 0
}

.menu a:hover {
    text-decoration: none;
    color: #666;
}

.search-box {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover>.search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: white;
    color: #ED6B86;
}

.search-btn {
    color: #ED6B86;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: #ED6B86;
    cursor: pointer;
}

.search-btn>i {
    font-size: 30px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}

.neBtn {
    position: relative;
    border: none;
    background: #ED6B86;
    outline: none;
    color: rgb(255, 255, 255);
    height: 60px;
    border-radius: 20px;
    font-size: 16px;
    width: 120px;
    line-height: 45px;
    width: 200px;
}

.fa-plus {
    font-size: 45px;
    color: #fff;
    float: left;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.categories {
    background: #bdbfc2;
}

input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    background: #C6AD94;
    outline: none;
    border-radius: 20px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

input:checked[type="checkbox"] {
    background: #ED6B86;
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .5s;
}

.checklbl {
    top: 100px
}

input:checked[type="checkbox"]:before {
    left: 20px;
}

.resultbox {
    margin-right: 5%;
    margin-left: 10%;
    margin-top: 2%;
    width: 80%;
    height: 350px;
    background: #f1f1f1;
    border-radius: 50px;
    display: inline-block;
}

.contentpage {
    float: right;
    width: 70%;
    align-items: center;
    height: 100%;
    overflow: auto;
    white-space: normal;
    margin-top: 80px;
}

.form-control {
    background: #fff;
}

.modal-content {
    border-radius: 20px;
}

#ortsearch {
    width: 50%;
}

.description{

    height: 220px;
}
